figcaption {
    text-align: center;
    caption-side: bottom;
    color:white
  }

.conteiner-acordion{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;

}

body {
    background-image: url("../assets/img/black.jpg");
}

.image {
        max-width: 500px;
}

.menu-container {
    margin-left: 2000px;
  }

.fuente {
    color:white;
    
}

.strong{
    display: flex;
    justify-content: center;
    color:white;
    font-weight: bold;
}

.icon{
    max-width: 200px;
    max-height:200px;
}


iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    }


.collage > img{
    width:  500px;
    height: 500px;
    object-fit: cover;
}

.col{
    overflow: hidden;
}

.conteiner1{
    margin: 200px -300px 200px 0;

}