.conteiner-acordion {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
  }

.conteinerindex{
    margin-bottom: 30px;
  }
  
.menu-container {
    margin-left: 2000px;
  }
  
.conteiner1 {
    margin: 200px -300px 200px 0;
  }